@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

:root {
    --c1 : #7B5038;
    --c2 : #F4E9DE;
    --c3: #FFFFFF;
    --c4: #000000;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Playpen Sans', sans-serif;
    font-weight: 400;
}
body::-webkit-scrollbar{
    background-color: var(--c4);
    width: 10px;
    overflow: hidden;
}
body::-webkit-scrollbar-thumb{
    background-color: var(--c2);
}
.navbar {
  background: rgba(255, 255, 255, 0.781);
  backdrop-filter: blur(10px);     
  -webkit-backdrop-filter: blur(10px); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 10;
  padding: 1rem 2rem;
  transition: all 0.5s;
}
.navbar .nav-item {
  margin-right: 3.5rem;
}
.navbar .nav-link {
  color: var(--c3);
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: var(--c1);
}
.navbar .nav-link:focus {
  color: var(--c1);
}
.navbar-scrolled{
    background-color: var(--c3);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.navbar-scrolled .nav-link{
    color: var(--c1);
}
.navbar-scrolled .nav-link:hover{
    color:var(--c4);
}
.navbar-scrolled .nav-link:active {
    color:var(--c4);
}
.btn-cart .cart-icon {
  transition: 0.3s ease;
}

.btn-cart:hover .cart-icon {
  content: url('../assets/Bubble Mobile Images/mobile icons/cart2.png');
}
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('../assets/Bubble Web Images/Group 1040.png') no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--c3);
}

.hero::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  z-index: 0;
}

.hero .container {
  position: relative;
  z-index: 1;
  max-width: 700px;
  margin-left: 15%;
  margin-top: 305px;
}

.hero h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 30px;
}

.hero h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  margin: 0;
  white-space: normal;
  word-break: break-word;
}
/*about section*/
.about-section {
  background-color: var(--c3);
  color: var(--c4);
  padding-top: 6rem ;
  padding-bottom: 6rem;
}
.img-fluid {
  max-width: 80%;
  height: auto;
}
.section-subtitle {
  color: var(--c1);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.section-title {
  font-size: 50px;
  font-weight: 700;
  color: var(--c1);
  margin-bottom: 3rem;
}

.section-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
  color: var(--c4);
  margin-bottom: 3rem;
}

.btn-custom {
  background-color: var(--c1);
  color:  var(--c3);
  width: 180px;              
  height: 50px;              
  font-size: 1rem;
  padding: 0;              
  display: inline-flex;   
  align-items: center;       
  justify-content: center;  
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}
.btn-custom:hover {
  background-color: var(--c3);
  color: var(--c1);
  border: var(--c1) 1px solid;
}
/* products section */
.products-section {
  background-color: var(--c2);
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.products-section .section-subtitle {
  color: var(--c1);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.products-section .section-title {
  font-size: 50px;
  font-weight: 700;
  color: var(--c1);
}

.products-section .section-text {
  font-size: 16px;
  max-width: 700px;
  margin: 0 auto;
  color: var(--c4);
}

.product-item {
  text-align: center;
}
.circle-wrapper {
  width: 250px;
  height: 250px;
  border: 1.5px solid var(--c3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: var(--c2);
  overflow: hidden;
}
.product-img {
  position: relative;
  width: auto;
  max-width: 300px;
  background-color: var(--c2);
  padding: 10px;
  transition: transform 0.3s ease;
}
.product-img:hover {
  transform: scale(1.15);
}

.product-name {
  font-weight: 500;
  color: var(--c4)
}
.products-section .btn-custom{
    width: 250px;
    height: 60px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.products-section .btn-custom:hover{
    background-color: var(--c2);
    border: var(--c1) 1px solid;
}

/*Content Section*/
.content{
  position: relative;
  width: 100%;
  height: 70vh;
  background: url('../assets/Bubble Web Images/Group 1041.png') no-repeat center/cover;
  display: flex;
  align-items: center;
}
.content:before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
}
.content.container {
  position: relative;
  z-index: 1;
}
.content-text {
  text-align: right;
}
.content-text .title{
    color: var(--c3);
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 30px;
}
.content-text .text-box{
    font-size: 16px;
}

/* Testimonial Section */
.testimonial-section {
  margin-top: 50px;
  height: 110vh;
  display: flex;
  background-color: var(--c3);
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.testimonial-carousel {
  margin-top: 3rem !important;
}
.testimonial-img {    
    width: auto;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}
.testimonial-content {
  flex-grow: 1;
  margin-bottom: 175px;
}
.testimonial-text {
  margin-top: 50px;  
  font-size: 15px;
  color: var(--c4);
  line-height: 1.6;
}

.testimonial-author {
  font-size: 12px;
  color: var(--c1);
  margin-top: 30px;
  margin-bottom: 5px;
}

.testimonial-stars img.star-icon {
  width: 15px;
  height: 15px;
  margin-right: 3px;
}

.carousel-indicators button {
  height: 12px;
  width: 12px;
  margin: 0 4px;
  border-radius: 50%;
  border: 2px solid var(--c1);
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.carousel-indicators button.active {
  background-color: var(--c1);
}

/*Contact Section*/
.contact-section {
  position: relative;
  background-color: var(--c2);
  padding-top: 6rem;
  padding-bottom: 6rem;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.contact-left img {
  width: 80%;
  height: 90vh;
  object-fit: cover;
}
.contact-info-overlay {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  color: var(--c3);
}
.contact-item {
  display: flex;
  text-align: left;
  margin-bottom: 2.5rem;
}
.contact-item img {
  width: 40px;
  height: 40px;
  background:  var(--c3);
  color: var(--c1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-right: 1rem;
}
.contact-form-container {
  position: absolute;
  top: 58%;
  left: 68%;
  transform: translate(-50%, -50%);
  background-color:  var(--c3);
  padding: 2rem 3rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
}
.contact-form {
  width: 100%;
}
.custom-input::placeholder {
  padding: 0;
  margin: 0;
  color: var(--c1);
  opacity: 1;
}
.custom-input {
  text-align: left;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid var(--c4);
  border-radius: 0;
}
.custom-input:focus {
  border-color: var(--c1);
  box-shadow: none;
}
.btn-custom {
  background-color: var(--c1);
  color:  var(--c3);
  border-radius: 10px;
}

.btn-custom:hover {
  background-color: var(--c3);
  color: var(--c1);
  border: 1px solid var(--c1);
}

/* Footer Section */
.main-footer {
  background-color: var(--c1);
  color: var(--c3);
  padding: 3rem 1rem;
  font-size: 16px;
}
.footer-logo {
  max-width: 150px;
  height: auto;
}
.footer-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.footer-icons {
  display: flex;
  gap: 15px;
}
.footer-icons a {
  display: inline-block;
}
.footer-icon {
  width: 28px;
  height: 28px;
  object-fit: cover;
}
.footer-links a {
  color:var(--c3);
  text-decoration: none;
  display: block;
  margin-bottom: 0.5rem;
}
.footer-links a:hover {
  color: var(--c4);
}
.footer-heading {
  font-weight: 700;
  color: var(--c3);
  margin-bottom: 1rem;
}
.site-footer {
  background-color: var(--c4);
  color: var(--c3);
  padding: 1rem 2rem;
  width: 100%;
}
.site-footer h4{
    font-size: 16px;
    font-weight: 400;
}
.site-footer .dev-name {
  color: var(--c1);
  font-size: 16px;
}


@media (max-width: 576px) {
    .navbar {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .navbar-brand img{
        margin-right: auto;
        justify-content: left;
        width: 90px;
        height: auto;
    }
    .navbar-toggler {
        margin-left: auto;
        border: none;
        box-shadow: none !important;
        outline: none !important;
        color: var(--c1);
    }
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.9);
        margin: 0;
        border-radius: 0;
        z-index: 999;
        text-align: center;
    }
    .navbar-collapse .nav-link {
        color: var(--c1); 
        font-weight: 600;
    }
    .navbar-collapse .nav-link:hover {
        color: var(--c4);
    }
    .hero {
        background: url('../assets/Bubble Mobile Images/Group\ 1042.png') no-repeat center/cover;
        align-items: flex-end;
        padding-bottom: 2rem;
    }
    .hero .container {
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: left;
        padding: 1rem;
        border-radius: 8px;
    }
    .hero h1 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 0.8rem;
    }

    .hero h4 {
        font-size: 14px;
        line-height: 1.5;
        margin: 0;
    }
    .section-subtitle {
        font-size: 14px;
        margin-bottom: 0.3rem;
    }
    .section-title {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    .section-text {
        font-size: 1rem;
        margin-bottom: 2rem;
        padding: 0 1rem;
    }
    .btn-custom {
        width: 100%;
        max-width: 240px;
        margin: 0 auto 2rem;
    }
    .about-section .text-center {
        text-align: center !important;
    }
    .about-section img {
        max-width: 90%;
        height: auto;
        margin: 0 auto;
        display: block;
    }
    .about-section .section-subtitle,.section-title{
       margin-left: 45px;
       text-align: left;
    }
    .about-section .section-text{
        margin-left: 30px;
        text-align: left;
        font-size: 14px;
    }
    .about-section .btn-custom {
        width: 100%;
        max-width: 240px;
        margin-right: 4rem;
    }
    
    .products-section .row{
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }
    .testimonial-section{
        height: 100%;
    }
    .carousel-item .row {
        flex-direction: column ;
        align-items: center;
    }

    .carousel-item .col-md-5 {
        max-width: 90%;
        margin-bottom: 2rem;
    }

    .testimonial-img {
        width: 120px;
        height: auto;
        margin-bottom: 1rem;
    }

    .testimonial-text {
        font-size: 14px;
        text-align: center;
        margin-top: 10px;
    }

    .testimonial-content {
        margin-bottom: 0;
        text-align: center;
    }

    .testimonial-author {
        margin-top: 15px;
        font-size: 14px;
    }

    .testimonial-stars {
        justify-content: center;
    }
    .contact-left img {
        width: 100%;
        height: 70vh;
        object-fit: cover;
    }

    .contact-info-overlay {
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translateY(-50%);
        margin-bottom: 2rem;
        color: var(--c3);
    }
    .contact-item img {
        width: 40px;
        height: 40px;
        background:  var(--c3);
        color: var(--c1);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        margin-right: 1rem;
    }

    .contact-form-container {
        position: static;
        transform: none;
        margin: 2rem auto;
        background-color: var(--c3);
        padding: 1.5rem;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        width: 95%;
        max-width: 500px;
    }

    .contact-section {
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    .contact-form .form-control {
        font-size: 14px;
    }
    .footer-details{
        margin-bottom: 40px;
    }
    .footer-icons{
        justify-content: center;
        margin-bottom: 1rem;
    }
    .site-footer {
        text-align: center;
    }
    .site-footer h4 {
        font-size: 16px;
        font-weight: 400;
    }
}
